@font-face {
  font-family: 'DINNextLTArabic-Light';
  src: url("../fonts/DINNextLTArabic/Light/DINNextLTArabic-Light.eot");
  src: url("../fonts/DINNextLTArabic/Light/DINNextLTArabic-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/DINNextLTArabic/Light/DINNextLTArabic-Light.woff2") format("woff2"), url("../fonts/DINNextLTArabic/Light/DINNextLTArabic-Light.woff") format("woff"), url("../fonts/DINNextLTArabic/Light/DINNextLTArabic-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'DINNextLTArabic-Medium';
  src: url("../fonts/DINNextLTArabic/Medium/DINNextLTArabic-Medium.eot");
  src: url("../fonts/DINNextLTArabic/Medium/DINNextLTArabic-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/DINNextLTArabic/Medium/DINNextLTArabic-Medium.woff2") format("woff2"), url("../fonts/DINNextLTArabic/Medium/DINNextLTArabic-Medium.woff") format("woff"), url("../fonts/DINNextLTArabic/Medium/DINNextLTArabic-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'DINNextLTArabic-Regular';
  src: url("../fonts/DINNextLTArabic/Regular/DINNextLTArabic-Regular.eot");
  src: url("../fonts/DINNextLTArabic/Regular/DINNextLTArabic-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/DINNextLTArabic/Regular/DINNextLTArabic-Regular.woff2") format("woff2"), url("../fonts/DINNextLTArabic/Regular/DINNextLTArabic-Regular.woff") format("woff"), url("../fonts/DINNextLTArabic/Regular/DINNextLTArabic-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'DINNextLTArabic-Bold';
  src: url("../fonts/DINNextLTArabic/Bold/DINNextLTArabic-Bold.eot");
  src: url("../fonts/DINNextLTArabic/Bold/DINNextLTArabic-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/DINNextLTArabic/Bold/DINNextLTArabic-Bold.woff2") format("woff2"), url("../fonts/DINNextLTArabic/Bold/DINNextLTArabic-Bold.woff") format("woff"), url("../fonts/DINNextLTArabic/Bold/DINNextLTArabic-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
.path-frontpage #header-absolute {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  height: 80px;
  padding: 5px 0; }
  .path-frontpage #header-absolute #header {
    width: 100%; }
    .path-frontpage #header-absolute #header .navbar {
      width: 100%;
      display: flex;
      justify-content: space-between; }
      .path-frontpage #header-absolute #header .navbar .region-nav-main {
        display: flex;
        justify-content: space-between;
        height: 67px;
        align-items: center; }
        .path-frontpage #header-absolute #header .navbar .region-nav-main #block-ndf-theme-main-menu {
          height: 40px; }
          .path-frontpage #header-absolute #header .navbar .region-nav-main #block-ndf-theme-main-menu .nav-item {
            min-width: 6rem;
            text-align: center; }
            .path-frontpage #header-absolute #header .navbar .region-nav-main #block-ndf-theme-main-menu .nav-item a {
              color: #ffffff;
              border-bottom: 1.5px solid transparent;
              transition: border .25s ease-out;
              font-size: .85rem;
              font-weight: 400; }
              .path-frontpage #header-absolute #header .navbar .region-nav-main #block-ndf-theme-main-menu .nav-item a:hover {
                border-bottom: 1.5px solid #C6AA76;
                font-weight: 700; }
      .path-frontpage #header-absolute #header .navbar #block-ndf-theme-menu-account {
        height: 40px; }
        .path-frontpage #header-absolute #header .navbar #block-ndf-theme-menu-account .nav-item {
          min-width: 6rem;
          text-align: center; }
          .path-frontpage #header-absolute #header .navbar #block-ndf-theme-menu-account .nav-item a {
            color: #ffffff;
            border-bottom: 1.5px solid transparent;
            transition: border .25s ease-out;
            font-weight: 400;
            font-size: .85rem; }
            .path-frontpage #header-absolute #header .navbar #block-ndf-theme-menu-account .nav-item a:hover {
              border-bottom: 1.5px solid #C6AA76;
              font-weight: 700; }
.path-frontpage #header-normal {
  position: unset; }
.path-frontpage #block-hompageheroblock {
  background-image: url(/themes/custom/ndf_theme/images/home/hero-bg.jpeg);
  width: 100%;
  height: 750px;
  color: #fff;
  background-repeat: no-repeat;
  background-size: contain; }
  .path-frontpage #block-hompageheroblock .watermark {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 2rem;
    background-position-y: 60%; }
    .path-frontpage #block-hompageheroblock .watermark .field--name-field-title {
      font-size: 28px;
      font-weight: 600;
      margin: 1rem;
      text-align: center; }
    .path-frontpage #block-hompageheroblock .watermark .field--name-field-description {
      font-size: 20px;
      font-weight: 300;
      margin: 1rem 7rem;
      text-align: center;
      line-height: 2; }
.path-frontpage #block-homepagegoals .field--name-field-title {
  font-size: 28px;
  font-weight: 600;
  margin: 3rem 3rem 1rem;
  text-align: center;
  color: #3C3935; }
.path-frontpage #block-homepagegoals .field--name-field-description {
  font-size: 20px;
  font-weight: 300;
  color: #7C7A77;
  margin: 1rem 7rem;
  text-align: center;
  line-height: 2; }
.path-frontpage #block-homepagegoals .four-goals {
  width: 75%;
  margin: auto; }
  .path-frontpage #block-homepagegoals .four-goals .field--name-field-goal {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr; }
    .path-frontpage #block-homepagegoals .four-goals .field--name-field-goal .one-goal-wrapper {
      position: relative; }
      .path-frontpage #block-homepagegoals .four-goals .field--name-field-goal .one-goal-wrapper .field--name-field-goals-title {
        position: absolute;
        bottom: 43%;
        left: -10%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;
        color: #3C3935;
        width: 45%;
        text-align: center;
        line-height: 1;
        font-size: calc(75% + .1rem); }
    .path-frontpage #block-homepagegoals .four-goals .field--name-field-goal .field__item:nth-of-type(odd) {
      grid-row: 1; }
    .path-frontpage #block-homepagegoals .four-goals .field--name-field-goal .field__item:nth-of-type(even) {
      grid-row: 2; }
    .path-frontpage #block-homepagegoals .four-goals .field--name-field-goal .field__item:nth-of-type(1) {
      grid-column: 1;
      transform: translate(20%, 10%); }
    .path-frontpage #block-homepagegoals .four-goals .field--name-field-goal .field__item:nth-of-type(2) {
      grid-column: 2;
      transform: translate(-20%, -10%); }
    .path-frontpage #block-homepagegoals .four-goals .field--name-field-goal .field__item:nth-of-type(3) {
      grid-column: 3;
      transform: translate(20%, 10%); }
    .path-frontpage #block-homepagegoals .four-goals .field--name-field-goal .field__item:nth-of-type(4) {
      grid-column: 4;
      transform: translate(-20%, -10%); }
.path-frontpage #block-homepageregistations {
  background-color: #ffffff;
  padding: 3rem; }
  .path-frontpage #block-homepageregistations .field--name-field-title {
    font-size: 28px;
    font-weight: 600;
    margin: 3rem 3rem 1rem;
    text-align: center;
    color: #3C3935; }
  .path-frontpage #block-homepageregistations .registration-wrapper .field--name-field-step {
    background-color: #ffffff;
    display: flex;
    width: 100%;
    height: 15rem;
    justify-content: center;
    align-items: center; }
    .path-frontpage #block-homepageregistations .registration-wrapper .field--name-field-step .one-step-wrapper {
      margin: 2rem; }
      .path-frontpage #block-homepageregistations .registration-wrapper .field--name-field-step .one-step-wrapper .field--name-field-registation-description {
        font-size: .9rem;
        color: #7C7A77;
        display: block;
        width: 70%;
        text-align: justify; }
      .path-frontpage #block-homepageregistations .registration-wrapper .field--name-field-step .one-step-wrapper .wrapper {
        display: flex; }
        .path-frontpage #block-homepageregistations .registration-wrapper .field--name-field-step .one-step-wrapper .wrapper .field--name-field-step-number {
          display: block;
          width: 50px;
          height: 50px;
          background-image: url(/themes/custom/ndf_theme/images/icons/step-icon.svg);
          background-repeat: no-repeat;
          background-size: contain;
          font-size: 1rem;
          color: #C6AA76;
          margin: 0 0.5rem;
          text-align: center;
          transform: translateY(-12px); }
          .path-frontpage #block-homepageregistations .registration-wrapper .field--name-field-step .one-step-wrapper .wrapper .field--name-field-step-number > .field__item {
            width: 100%;
            margin-top: 12px; }
  .path-frontpage #block-homepageregistations .field--name-field-link {
    width: 100%;
    height: 7rem;
    text-align: center; }
    .path-frontpage #block-homepageregistations .field--name-field-link a {
      width: 12rem;
      height: 3rem;
      background-color: #C6AA76;
      color: #ffffff;
      padding: 0.75rem 5rem;
      border-radius: 4px;
      font-size: .85rem; }
.path-frontpage #block-views-block-home-products-block-block-home-products h2 {
  font-size: 28px;
  font-weight: 600;
  margin: 3rem 3rem 3rem;
  text-align: center;
  color: #3C3935; }
.path-frontpage #block-views-block-home-products-block-block-home-products .home-products-wrapper {
  padding: 3rem;
  background-color: #C6AA76;
  background-blend-mode: darken;
  margin: 7rem 0;
  height: 14rem; }
  .path-frontpage #block-views-block-home-products-block-block-home-products .home-products-wrapper .action {
    margin: 5rem auto;
    width: 100%;
    height: 10rem;
    display: grid;
    place-items: center; }
    .path-frontpage #block-views-block-home-products-block-block-home-products .home-products-wrapper .action button {
      background-color: #C6AA76;
      color: #fff;
      padding: 0.65rem 6rem;
      border: none;
      border-radius: 3px; }
  .path-frontpage #block-views-block-home-products-block-block-home-products .home-products-wrapper .card-deck {
    justify-content: center;
    margin: auto; }
    .path-frontpage #block-views-block-home-products-block-block-home-products .home-products-wrapper .card-deck .view-header {
      margin-top: -8rem;
      color: #7C7A77;
      font-size: .85rem; }
    .path-frontpage #block-views-block-home-products-block-block-home-products .home-products-wrapper .card-deck .view-content {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: -5rem auto; }
      .path-frontpage #block-views-block-home-products-block-block-home-products .home-products-wrapper .card-deck .view-content .card.views-row {
        height: 18rem;
        max-width: 16rem;
        margin: 0 3rem;
        flex-direction: column; }
        .path-frontpage #block-views-block-home-products-block-block-home-products .home-products-wrapper .card-deck .view-content .card.views-row .views-field-title {
          padding: 1rem 1rem 1.5rem;
          border-bottom: solid 1px #E8E8E8;
          text-align: center;
          color: #3C3935;
          font-size: .95rem; }
        .path-frontpage #block-views-block-home-products-block-block-home-products .home-products-wrapper .card-deck .view-content .card.views-row .views-field-body {
          padding: 1rem 2rem;
          height: auto;
          color: #7C7A77;
          font-size: .9rem;
          text-align: center;
          line-height: 1.75rem; }
        .path-frontpage #block-views-block-home-products-block-block-home-products .home-products-wrapper .card-deck .view-content .card.views-row .views-field-view-node {
          justify-self: flex-end;
          align-self: center;
          width: 90%;
          text-align: center;
          height: 2.75rem;
          background: #fff;
          border: 1px solid #C6AA76;
          border-radius: 3px;
          display: grid;
          place-items: center; }
.path-frontpage #fifth-content-region {
  margin: 12rem 0 5rem;
  padding: 1rem;
  background-size: cover;
  height: 50rem;
  background-repeat: no-repeat;
  color: #fff;
  text-align: center; }
  .path-frontpage #fifth-content-region .contact-message-hompage-contact-form {
    width: 50%;
    min-width: 400px;
    margin: auto; }
    .path-frontpage #fifth-content-region .contact-message-hompage-contact-form #contact-message-hompage-contact-form {
      background-color: #ffffff;
      color: #3C3935;
      padding: 2rem;
      margin: 3rem;
      border-radius: 5px; }
      .path-frontpage #fifth-content-region .contact-message-hompage-contact-form #contact-message-hompage-contact-form .form-item {
        text-align: justify; }
      .path-frontpage #fifth-content-region .contact-message-hompage-contact-form #contact-message-hompage-contact-form #edit-actions #edit-submit {
        background-color: #C6AA76;
        border: none;
        margin: auto;
        padding: 0.5rem 3rem;
        font-size: .9rem; }
.path-frontpage.adminimal-admin-toolbar #header-absolute {
  top: 79px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  * body {
    font-family: 'Cairo', sans-serif;
    background-color: #F8F7F7; }
    * body a {
      color: #3D3935;
      text-decoration: none; }
    * body ol {
      list-style: none; }
    * body ul {
      list-style: none; }

@media (min-width: 991px) {
  .container {
    max-width: 940px; } }
@media (min-width: 1024px) {
  .container {
    max-width: 940px; } }
@media (min-width: 1200px) {
  .container {
    max-width: 1200px; } }
@media (min-width: 1400px) {
  .container {
    max-width: 1320px; } }
img {
  max-width: 100%;
  height: auto; }

.unselectable {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */ }

/*# sourceMappingURL=style.css.map */
