@font-face {
  font-family: 'DINNextLTArabic-Light';
  src: url("../fonts/DINNextLTArabic/Light/DINNextLTArabic-Light.eot");
  src: url("../fonts/DINNextLTArabic/Light/DINNextLTArabic-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/DINNextLTArabic/Light/DINNextLTArabic-Light.woff2") format("woff2"), url("../fonts/DINNextLTArabic/Light/DINNextLTArabic-Light.woff") format("woff"), url("../fonts/DINNextLTArabic/Light/DINNextLTArabic-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'DINNextLTArabic-Medium';
  src: url("../fonts/DINNextLTArabic/Medium/DINNextLTArabic-Medium.eot");
  src: url("../fonts/DINNextLTArabic/Medium/DINNextLTArabic-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/DINNextLTArabic/Medium/DINNextLTArabic-Medium.woff2") format("woff2"), url("../fonts/DINNextLTArabic/Medium/DINNextLTArabic-Medium.woff") format("woff"), url("../fonts/DINNextLTArabic/Medium/DINNextLTArabic-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'DINNextLTArabic-Regular';
  src: url("../fonts/DINNextLTArabic/Regular/DINNextLTArabic-Regular.eot");
  src: url("../fonts/DINNextLTArabic/Regular/DINNextLTArabic-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/DINNextLTArabic/Regular/DINNextLTArabic-Regular.woff2") format("woff2"), url("../fonts/DINNextLTArabic/Regular/DINNextLTArabic-Regular.woff") format("woff"), url("../fonts/DINNextLTArabic/Regular/DINNextLTArabic-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
.path-frontpage #header-absolute {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999999;
  height: 80px;
  padding: 5px 0; }
  .path-frontpage #header-absolute #header {
    width: 100%; }
    .path-frontpage #header-absolute #header .navbar {
      width: 100%;
      display: flex;
      justify-content: space-between; }
      .path-frontpage #header-absolute #header .navbar .region-nav-main {
        display: flex;
        justify-content: space-between;
        height: 67px;
        align-items: center; }
        .path-frontpage #header-absolute #header .navbar .region-nav-main #block-ndf-theme-main-menu {
          height: 40px; }
          .path-frontpage #header-absolute #header .navbar .region-nav-main #block-ndf-theme-main-menu .nav-item {
            min-width: 6rem;
            text-align: center; }
            .path-frontpage #header-absolute #header .navbar .region-nav-main #block-ndf-theme-main-menu .nav-item a {
              color: #ffffff;
              border-bottom: 1.5px solid transparent;
              transition: border .25s ease-out;
              font-size: .85rem;
              font-weight: 400; }
              .path-frontpage #header-absolute #header .navbar .region-nav-main #block-ndf-theme-main-menu .nav-item a:hover {
                border-bottom: 1.5px solid #C6AA76;
                font-weight: 700; }
      .path-frontpage #header-absolute #header .navbar #block-ndf-theme-menu-account {
        height: 40px; }
        .path-frontpage #header-absolute #header .navbar #block-ndf-theme-menu-account .nav-item {
          min-width: 6rem;
          text-align: center; }
          .path-frontpage #header-absolute #header .navbar #block-ndf-theme-menu-account .nav-item a {
            color: #ffffff;
            border-bottom: 1.5px solid transparent;
            transition: border .25s ease-out;
            font-weight: 400;
            font-size: .85rem; }
            .path-frontpage #header-absolute #header .navbar #block-ndf-theme-menu-account .nav-item a:hover {
              border-bottom: 1.5px solid #C6AA76;
              font-weight: 700; }
.path-frontpage #header-normal {
  position: unset; }
.path-frontpage #block-hompageheroblock {
  background-image: url(/themes/custom/ndf_theme/images/home/hero-bg.jpeg);
  width: 100%;
  height: 750px;
  color: #fff;
  background-repeat: no-repeat;
  background-size: contain; }
  .path-frontpage #block-hompageheroblock .watermark {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 2rem;
    background-position-y: 60%; }
    .path-frontpage #block-hompageheroblock .watermark .field--name-field-title {
      font-size: 34px;
      font-weight: 700;
      margin: 1rem;
      text-align: center; }
    .path-frontpage #block-hompageheroblock .watermark .field--name-field-description {
      font-size: 20px;
      font-weight: 300;
      margin: 1rem 7rem;
      text-align: center;
      line-height: 2; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  * body {
    font-family: 'Cairo', sans-serif; }
    * body a {
      color: #3D3935;
      text-decoration: none; }
    * body ol {
      list-style: none; }
    * body ul {
      list-style: none; }

@media (min-width: 991px) {
  .container {
    max-width: 940px; } }
@media (min-width: 1024px) {
  .container {
    max-width: 940px; } }
@media (min-width: 1200px) {
  .container {
    max-width: 1200px; } }
@media (min-width: 1400px) {
  .container {
    max-width: 1320px; } }
img {
  max-width: 100%;
  height: auto; }

.unselectable {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */ }

/*# sourceMappingURL=style-rtl.css.map */
