<div class="modal fade" id="{{ popupId }}" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<h5 class="modal-title text-center text-primary" id="modalTitle">
				{{ modalTitle }}
			</h5>
			<div class="modal-body offset-lg-1 col-lg-10">
				{{ drupal_form(formClass) }}
			</div>
			{% if closeBtnVisible %}
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			{% endif %}
		</div>
	</div>
</div>
