* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Cairo', sans-serif;
  background-color: $ndf_offwhite;
  a {
    color: $ndf_label;
    text-decoration: none;
  }
  ol {
    list-style: none;
  }

  ul {
    list-style: none;
  }
  #block-ndf-theme-breadcrumbs {
    .breadcrumb {
      background-color: transparent;
    }
  }

  #block-ndf-theme-title {
    h1 {
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 1;
      color: $ndf_dark_grey;
      margin: 0 0 4rem;
    }
  }


}
