.page-user-register{
  main {
    background-image: url($theme-path +"/images/home/hero-bg.jpeg");
    width: 100%;
    color: $white;
    background-repeat: no-repeat;
    background-size: cover;
    .region-content{
      width: 600px;
      height:auto;
      max-height:100%;
      max-width:100%;
      margin: 120px auto;
      background: $white;
      color: $ndf_dark_grey;
      border-radius:5px;
      padding: 1rem;
      #block-ndf-theme-title{
        margin: 1rem 0;
        .page-title {
          font-weight: bold;
          font-size: 1.65rem;
          font-family:"Cairo-medium",sans-serif;
        }
      }
      .user-register-form{
        .field--name-field-date-of-birth .label{
          display: flex;
        }
        label{
          display: flex;
        }
        .mobile-number-field .form-type-textfield input{
          width: 100% !important;
          max-width: 100%;
        }
      }
    }
  }
}
