.path-apis {
  position: relative;
  .wrapper-apis-page {
    background-image: url($theme-path +"/images/home/hero-bg.jpeg");
    width: 100%;
    min-height: 900px;
    color: $white;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    .region-content {
      .view-apigee-api-catalog {
        color: $ndf_dark_grey;
        background-color: $white;
        width: 50vw;
        min-width: 30rem;
        padding: 2rem;
        border-radius: 0.5rem;
      }
    }
  }
}
