.page-user-login {
  position: relative;
  .wrapper-login-page {
    background-image: url($theme-path +"/images/home/hero-bg.jpeg");
    width: 100%;
    height: 750px;
    color: $white;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    .region-content {
      color: $ndf_dark_grey;
      background-color: $white;
      width: 50vw;
      min-width: 30rem;
      padding: 2rem;
      border-radius: 0.5rem;
      form.user-login-form {
        color: #0b2e13;
        .form-item {
          label {
            width: 100%;
            text-align: justify;
            margin-right: 0.5rem;
            font-size: .9rem;
            margin-bottom: 0;
            font-weight: 400;
            color: $ndf_dark_grey;
          }
        }
      }
    }
  }
}
