fieldset.app-credential {
  margin-top: 30px;
  border: 3px solid #575757;
  border-radius: 10px;
  padding: 35px;
  legend {
    position: relative;
    #{$left}: 8px;
    width: 150px;
  }
  .dropbutton-wrapper {
    .dropbutton-widget {
      position: relative;
    }
  }
}

@media screen and (max-width: 360px) {
  article.developer-app--view-mode-full {
    fieldset.app-credential {
      padding: 1.1875rem;
      .fieldset-wrapper {
        display: flex;
        flex-direction: column;
        padding-top: 25px;
        .app-details-wrapper {
          width: 100%;
          .item-property {
            display: flex;
            flex-direction: column;
            .wrapper--status{
                width: 75px;
            }
          }
        }
      }
    }
    .field {
      &.field--type-timestamp {
        font-size: 14px;
      }
      .field__item {
        padding-#{$left}: 0;
      }
    }
  }
}

html[lang="ar"] {
  .app-credential {
    .dropbutton-wrapper {
      right: unset;
      left: 30px;
    }
  }
}


.my-apps-page {
  .highlighted {
    display: none;
  }
  .internal-banner {
    .region-internal-banner {
      flex-wrap: nowrap;
      margin-left: 0px;
      margin-right: 0px;
    }
  }
  #block-najm-portal-theme-actions {
    .action-links{
      li.nav-link {
        text-align: $right;
        a {
          background-color: $green;
        }
      }
    }
  }
  #view-applications-page {
    margin-bottom: 30px;
    .header-title {
      margin-bottom: 20px;
      h1 {
        font-size: 25px;
        color: $green;
      }
    }
    .apps-content {
      .app-card {
        background-color: $white;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.161);
        border: 1px solid #ebebeb;
        border-radius: 8px;
        margin-bottom: 20px;
        padding: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .app-info {
          display: flex;
          flex-direction: column;
          max-width: 50%;
          .name {
            color: $gray-400;
            min-height: 47px;
            margin-bottom: 10px;
            a {
              &:hover, &:focus {
                text-decoration: none;
              }
            }
          }
          .status {
            margin-top: auto;
            .wrapper--status {
              background-color: #D6E6DE;
              color: $green;
              font-size: 13px;
              width: 100%;
              display: block;
              border-radius: 20px;
              max-width: 90px;
            }
          }
        }
        .app-body {
          display: flex;
          .app-operation {
            margin: 0px;
            padding: 0px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            list-style-type: none;
            align-content: center;
            li {
              margin-#{$left}: 10px;
              a {
                display: block;
                padding: 4px 10px;
                min-width: 80px;
                text-align: center;
                border-radius: 5px;
                color: $white;
                &:hover, &:focus {
                  text-decoration: none;
                }
                img {
                  position: relative;
                  bottom: 3px;
                }
                span {
                  position: relative;
                  bottom: 1px;
                }
              }
              &.edit-action {
                a {
                  background-color: $cyan;
                  border: 1px solid $cyan;
                }
              }
              &.analytics-action {
                a {
                  background-color: $green;
                  border: 1px solid $green;
                }
              }
              &.delete-action {
                a {
                  background-color: $red;
                  border: 1px solid $red;
                }
              }
              &.details-action {
                a {
                  background-color: $white;
                  color: $green;
                  border: 1px solid $green;
                }
              }
            }
          }
        }
      }
    }
  }
}

html[dir="rtl"] {
  .my-apps-page #view-applications-page .apps-content .app-card {
    .app-body {
      .app-operation {
        li a img {
          -webkit-transform:rotate(180deg);
          -moz-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          -o-transform: rotate(180deg);
          transform: rotate(180deg);
        }
      }
    }
  }
}

// Add app page
.app-add-page {
  #main-wrapper {
    padding: 40px 0px;
  }
}
