.form-control {
  border-color: $gray-50;
  height: 50px;
  border-radius: 7px;
}

.form-control.form-textarea.error {
  border-color: #c5534d;
}

button.form-submit {
  height: 50px;
  font-size: 20px;
  &::before {
    display: none;
  }
}

#main-wrapper .form-actions {
  *:nth-child(even) {
    margin-inline: 20px;
  }
}

.custom-switch {
  input,
  label {
    cursor: pointer;
  }
}

.input-group-append {
  .input-group-text {
    color: white;
  }
}

span.admin-link > button {
  border-radius: 3px;
  margin-inline: 5px;
}

[dir="rtl"] {
  .custom-switch {
    padding-#{$left}: 2.25rem;
    padding-#{$right}: 0;
    .custom-control-label {
      &::before {
        #{$left}: -2.25rem;
      }
      &::after {
        #{$left}: calc(-2.25rem + 14px);
      }
    }
  }
}

[id|="apigee-edge-app-api-key-add-form"] {
  [data-drupal-selector="edit-message"] {
    text-align: $left;
  }
  .form-item-expiry {
    margin-top: 25px;
    text-align: $left;
  }
  .form-actions{
    text-align: $left;
  }
}

#contact-message-feedback-form .form-item-copy{
  margin-bottom: 15px;
}
