// launching steps section
.path-frontpage {
  .node__content {
    margin-top: 0px;
  }
  .highlighted {
    display: none;
  }
  #block-launchingsteps {
    background-color: $off-white;
    padding: 100px 0;
    .launch-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 3px solid $primary;
      padding: 44px;
      border-radius: 50%;
      margin-bottom: 1rem;
      width: 160px;
      height: 160px;
    }
    .arrow {
      padding: 0;
      img {
        width: 100%;
        padding: 18px;
      }
    }
    h3 {
      width: 161px;
      .launch-no {
        color: $gray-900;
      }
      .launch-title {
        color: $primary;
      }
    }

    .launch-desc {
      color: $secondary;
      font-family: "poppins";
      font-weight: 500;
      width: 290px;
      position: relative;
      #{$left}: -40%;
      text-align: center;
    }
  }

  // our clients slider
  #block-views-block-our-clients-block-1 {
    background-color: $off-white;
    padding-bottom: 80px;
    .block-title {
      span {
        background-color: $off-white;
      }
    }
    div.content {
      .owl-item {
        //width: 260px !important;
        //margin-#{$right}: 1.4rem;
        .views-field-field-logo {
          padding: 15px;
          .field-content {
            border: 1px solid $gray-300;
            border-radius: 15px;
            width: 100%;
            background-color: $off-white-dark;
            height: 234px;
            display: flex;
            align-items: center;
            img {
              max-width: 100%;
              max-height: 155px;
            }
          }
        }
      }
    }

    .owl-nav {
      position: absolute;
      #{$right}: 0px;
      top: -70px;
      button {
        height: 50px;
        width: 50px;
        background-repeat: no-repeat;
        color: transparent;
        background-color: transparent;
        background-position: top;
        &.owl-next {
          background-image: url($theme-path + "/images/svg/icons/" + $right + "-arrow-slider.svg");
        }
        &.owl-prev {
          background-image: url($theme-path + "/images/svg/icons/" + $left + "-arrow-slider.svg");
        }
      }
    }
  }

  // iphone 5/SE
  @media (max-width: 320px) {
    #block-launchingsteps .launch-desc {
      #{$left}: 0;
    }
  }

  // wider mobile screens
  @media (min-width: 321px) and (max-width: 576px) {
    #block-launchingsteps {
      .launch-desc {
        #{$left}: 20px;
      }
      > div > div > div.offset-sm-1 {
        margin-inline: 0;
      }
    }
  }
  // all sizes up to tablet
  @media (max-width: 576px) {
    #block-launchingsteps {
      .row {
        .col-12 {
          margin-top: 10px;
        }
      }
      padding: 0;
      .launch-icon {
        margin: 0 auto;
        width: 100px;
        height: 100px;
        img {
          width: 50px;
          height: 50px;
        }
      }
      .launch-desc {
        width: 274px;
      }
      h3 {
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }



    #block-views-block-our-services-block-1 {
      min-height: 1770px;
      div.row {
        > div {
          margin-top: 40px;
        }
      }
    }

    #block-views-block-our-clients-block-1 {
      min-height: 585px;
      .block-title {
        padding-top: 110px;
        padding-bottom: 125px;
      }
      .owl-controls {
        #{$right}: 35%;
        top: -100px;
      }
    }
  }

  //  tablet & ipad
  @media (min-width: 577px) and (max-width: 768px) {
    #block-launchingsteps {
      .launch-icon {
        width: 75px;
        height: 75px;
        img {
          width: 40px;
          height: 40px;
        }
      }
      .launch-desc {
        font-size: 13px;
        width: 225px;
        #{$left}: -60%;
      }
      h3 {
        position: relative;
        #{$left}: -40%;
        .launch-no {
          font-size: 15px;
        }
        .launch-title {
          font-size: 15px;
        }
      }
    }
    #block-views-block-our-services-block-1 {
      .view-more-bottom {
        display: none;
      }
    }

    #block-views-block-our-clients-block-1 {
      .owl-controls {
        #{$right}: 44%;
        top: -100px;
      }
    }
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    #block-launchingsteps {
      .launch-icon {
        width: 85px;
        height: 85px;
        img {
          display: block;
          width: 55px;
        }
      }
    }
  }
}

[dir="rtl"] {
  #block-launchingsteps div.arrow img {
    transform: rotateY(180deg);
  }
}
