// main nav bar
#navbar-main {
  padding-top: 0px;
  .navbar-brand {
    padding-top: 0px;
  }
  #CollapsingNavbar {
    .menu--main {
      flex: 85%;
      .navbar-nav {
        justify-content: space-around;
        max-width: 60%;
        li a {
          color: $link-color;
          font-size: $font-size-lg;
          &.is-active::after {
            content: "";
            margin: 0 auto;
            margin-top: 10px;
            height: 3px;
            background-color: $primary;
            display: block;
            z-index: -1;
            width: 25px;
          }
        }
      }
    }

    #block-languageswitcher {
      margin-inline: 15px;
      min-width: 120px;
      .content {
        margin: 0;
        nav {
          background-image: url($theme-path + "/images/svg/icons/Language-secondary.svg");
          background-position-y: center;
          background-position-x: $right;
          background-repeat: no-repeat;
          padding-inline: 5px;
          display: block;
          span {
            padding: 0;
            padding-#{$right}: 22px;
            text-align: $right;
            a {
              position: relative;
              bottom: 1px;
              &.is-active {
                display: none;
              }
            }
          }
        }
      }
    }
    .menu--account {
      overflow: visible;
      .nav-link--user-login,
      .nav-link--ar-user-login {
        background-color: $primary;
        color: $white;
        width: 145px;
        padding: 8px 16px;
        border-radius: 8px;
        &::before {
          content: " ";
          background-image: url($theme-path + "/images/svg/icons/Login-white.svg");
          background-size: contain;
          background-repeat: no-repeat;
          width: 20px;
          height: 15px;
          float: $left;
          margin-top: 6px;
          background-position-y: 0;
        }
      }
      .dropdown {
        .no-caret {
          min-width: 47.5px;
          display: block;
          &::after {
            display: none;
          }
          img {
            display: block;
            margin: 0 auto;
          }
        }
        .dropdown-menu {
          #{$right}: 0;
          #{$left}: auto;
          padding: 0px;
          a {
            &:hover, &:focus {
              text-decoration: none;
            }
          }
          .dropdown-item {
            border-bottom: 1px solid #d6d6d6;
            color: $gray-300;
            text-align: $left;
            &:hover {
              background-color: $white;
            }
            img {
              margin-#{$right}: 3px;
              position: relative;
              bottom: 2px;
            }
          }
        }
      }
    }
  }
  .navbar-toggler .navbar-toggler-icon {
    background-image: url($theme-path + "/images/svg/icons/Bars.svg");
  }

  // ipad & tablet & mobile
  @media (max-width: 768px) {
    #CollapsingNavbar {
      background-image: url($theme-path + "/images/svg/icons/Najm Net-white.svg");
      background-repeat: no-repeat;
      background-position-y: 42.5px;
      background-position-x: center;
      background-color: $primary;
      height: 100%;
      width: 100%;
      position: fixed;
      top: 0;
      #{$left}: 0;
      #{$right}: 0;
      bottom: 0;
      z-index: 9;
      padding-#{$right}: 0;
      padding-top: 9rem;
      padding-#{$left}: 43px;
      #block-najm-portal-theme-menu-account {
        position: absolute;
        bottom: 63px;
        #{$left}: 23%;
        .dropdown-menu {
          top: -170px;
          #{$right}: -80px;
        }
        .nav-link--user-login,
        .nav-link--ar-user-login {
          background-color: $white;
          color: $primary;
          width: 129px;
          &::before {
            background-image: url($theme-path + "/images/svg/icons/Login-primary.svg");
          }
        }
      }
      #block-languageswitcher {
        position: absolute;
        #{$right}: 13%;
        bottom: 71px;
        .content {
          nav {
            background-image: url($theme-path + "/images/svg/icons/Language-white.svg");
            span {
              padding-#{$right}: 1.4rem;
              a {
                color: $white;
              }
            }
          }
        }
      }
      ul {
        max-width: 100% !important;
        li {
          width: 100%;
          border-bottom: 1px solid rgba($color: #fff, $alpha: 0.41);
          a {
            background-repeat: no-repeat;
            text-align: $left;
            background-position-x: $left;
            padding-inline: 20px;
            overflow: visible;
            background-position-y: center;
            background-size: 10px;
            color: $white !important;
            background-image: url($theme-path + "/images/svg/icons/Menu-arrow-" + $right + ".svg");
            &.is-active::after {
              display: none !important;
            }
          }
        }
      }
    }
  }

  // ipad only
  @media (min-width: 577px) and (max-width: 768px) {
    #CollapsingNavbar {
      background-size: 110px 94px;
      padding-inline: 5.7rem;
      #block-najm-portal-theme-menu-account {
        #{$left}: 35%;
      }
      #block-languageswitcher {
        #{$right}: 35%;
      }
    }
  }

  // ipad pro only
  @media (min-width: 769px) and (max-width: 1024px) {
    .menu--account {
      .nav-link--user-login,
      .nav-link--ar-user-login {
        width: 153px !important;
      }
    }
    #block-languageswitcher .content nav span {
      padding-#{$right}: 1.2rem;
    }
    #CollapsingNavbar {
      .menu--main .navbar-nav {
        max-width: 100%;
        li a {
          padding-#{$left}: 0;
          padding-#{$right}: 0;
        }
      }
    }
  }
}

// tabs
nav.tabs {
  ul {
    padding: 0px;
    .nav-item {
      a {
        color: white;
        border: 1px solid white;
        transition: 0.3s all;
        border-radius: 0;
        &:hover,
        &:focus {
          border-color: white;
          border-radius: 0;
        }
      }
      &.active a {
        background-color: $primary;
        color: white;
      }
    }
  }
}

// breadcrumb
#block-najm-portal-theme-breadcrumbs {
  .content {
    nav {
      .breadcrumb {
        padding-#{$left}: 0;
        background-color: transparent;
        margin-bottom: 0px;
        .breadcrumb-item {
          color: $secondary;
          font-size: $h6-font-size;
          font-weight: $font-weight-medium;
          + .breadcrumb-item {
            padding-#{$left}: 0.5rem;
            padding-#{$right}: 0;
            &::before {
              color: $secondary;
              float: unset;
              padding-#{$right}: 0.5rem;
              padding-#{$left}: 0;
            }
          }
          &.active {
            color: $primary;
          }
          &:first-child a::before {
            display: none;
          }
        }
      }
    }
  }
}

// tabs
nav.tabs {
  ul {
    .nav-item {
      a {
        color: white;
        transition: 0.3s all;
        border-radius: 0;
        border: 1px solid $white;
        &:hover,
        &:focus {
          border-color: white;
          border-radius: 0;
        }
      }
      &.active a {
        background-color: $primary;
        color: white;
      }
    }
  }
}

// breadcrumb
#block-najm-portal-theme-breadcrumbs {
  .content {
    nav {
      .breadcrumb {
        padding-left: 0;
        background-color: transparent;
        .breadcrumb-item {
          color: $secondary;
          font-size: $h6-font-size;
          font-weight: $font-weight-medium;
          + .breadcrumb-item::before {
            color: $secondary;
          }
          &.active {
            color: $primary;
          }
          &:first-child a::before {
            display: none;
          }
        }
      }
    }
  }
}

// local actions
#block-najm-portal-theme-actions > nav > li {
  text-align: $left;
}

[dir="rtl"] {
  @media (max-width: 768px) {
    #navbar-main {
      #CollapsingNavbar {
        #block-languageswitcher {
          .content {
            nav {
              span {
                padding-#{$right}: 0.7rem;
              }
            }
          }
        }
      }
    }
  }
}

a.nav-link--contact::before{
  display: none;
}
