// page title
#block-najm-portal-theme-breadcrumbs-title {
  .content {
    .title {
      color: $primary;
      font-size: $h4-font-size;
      &::after {
        content: " ";
        display: block;
        position: relative;
        top: 7.5px;
        height: 5px;
        width: 58px;
        background-color: $gray-300;
      }
    }
  }
}

.highlighted {
  text-align: $left;
}
.region-featured-top {
  .block-block-content {
    .content {
      text-align: $left;
    }
  }
}



// page main content
#block-najm-portal-theme-content {
  .content {
    margin: 0;
    text-align: $left;
  }
}

// API.
.node--type-apidoc {
  article {
    .node__content {
      margin-bottom: 20px;
    }
  }
}
