.page-view-our-services {
  .featured-top {
    .region-featured-top {
      margin-left: 0px;
      margin-right: 0px;
    }
  }
  #block-exposedformour-servicespage-1-2 {
    #views-exposed-form-our-services-page-1 {
      .form-row {
        flex-direction: row-reverse;
      }
    }
  }
  .view-display-id-page_1 {
    margin-bottom: 100px;

    #views-exposed-form-our-services-page-1 {
      margin-top: 37px;
      .form-row {
        flex-direction: row-reverse;
        fieldset {
          width: 32%;
          input {
            border-color: #848484;
            border-radius: 7px;
            height: 56px;
          }
        }
        #edit-actions {
          display: none;
        }
      }
    }
    .row {
      div {
        .card {
          .card-img-top {
            background-color: $white;
            width: 130px;
            height: 130px;
            border: 3px solid $primary;
            padding: 1.75rem;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            svg {
              path {
                fill: $primary;
              }
              #Insurance_inquiry {
                path {
                  stroke: $primary;
                  fill: none;
                }
              }
            }
          }
          // .views-field-body {
          //   min-height: 80px;
          // }
        }
      }
    }
  }
  #block-exposedformour-servicespage-1 {
    padding-top: 0px;
    border: 0px;
    .container {
      padding: 0px;
      form {
        fieldset.form-item-search {
          display: none;
        }
        fieldset.fieldgroup.form-composite {
          legend {
            text-align: $left;
          }
          .js-form-item.js-form-type-checkbox {
            text-align: $left;
          }
        }
      }
      .content {
        margin: 0px;
      }
    }
  }
  #block-exposedformour-servicespage-1-2 {
    .container {
      padding: 0px;
      form {
        fieldset.fieldgroup.form-composite {
          display: none;
        }
      }
      .content {
        margin: 0px;
      }
    }
  }
}

@media (max-width: 576px) {
  .page-view-our-services .view-display-id-page_1 {
    #views-exposed-form-our-services-page-1 {
      .form-row {
        fieldset {
          width: 100%;
        }
      }
    }
  }
}
