// login and register pages
#user-login-form,
#user-register-form,
#user-pass {
  fieldset {
    display: flex;
    label {
      width: 54px;
      height: 50px;
      border: 1px solid $gray-50;
      background-color: #f1f1f1;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 7px 0 0 7px;
      &.form-required::after {
        display: none;
      }
      &::before {
        background-size: contain;
        background-position-y: top;
      }
    }
    input {
      display: inline;
      width: calc(100% - 54px);
      border: 1px solid $gray-50;
      border-radius: 0 7px 7px 0;
      font-weight: 100;
    }
    &.form-item-name {
      label::before {
        background-image: url($theme-path + "/images/svg/icons/User Name.svg");
        width: 34px;
        height: 34px;
      }
    }
    &.form-item-pass {
      margin-bottom: 0;
      label::before {
        background-image: url($theme-path + "/images/svg/icons/Password.svg");
        width: 30px;
        height: 30px;
        margin-#{$left}: 6px;
      }
    }
    &.form-item-mail {
      label::before {
        background-image: url($theme-path + "/images/svg/icons/Email.svg");
      }
    }
  }

  #edit-actions {
    #edit-submit {
      min-height: 53px;
      width: 100%;
      border-radius: 8px;
      &::before {
        display: none;
      }
    }
  }
}

// user page
#block-najm-portal-theme-content {
  .content {
    .profile {
      .label {
        color: $primary;
      }
      div.views-field {
        margin-bottom: 5px;
        strong {
          color: $primary;
        }
      }
      .field--name-user-picture {
        margin-top: 50px;
      }
    }
  }
}

// forms in popups
#change-pwd-form,
#change-email-form {
  input,
  button {
    width: 100%;
  }
  .password-strength,
  .password-confirm-message {
    font-weight: 300;
  }
  .form-required::after {
    display: none;
  }
  .form-item-pass-pass2 {
    margin-top: 20px;
  }

  #edit-submit {
    border-radius: 8px;
  }

  fieldset {
    input {
      padding-#{$left}: 4rem;
      font-weight: 100;
      background-repeat: no-repeat;
      height: 50px;
      background-size: 48px 48px;
      background-position: 0 0;

      &[type="password"] {
        background-image: url($theme-path + "/images/svg/icons/Password-gray-bg.svg");
      }
      &[type="email"] {
        background-image: url($theme-path + "/images/svg/icons/Email-gray-bg.svg");
      }
    }

    label::after {
      display: block;
      content: " ";
      background-image: url($theme-path + "/images/svg/icons/Password.svg");
      width: 25px;
      height: 25px;
    }
  }
}

[dir="rtl"] {
  #user-login-form,
  #user-register-form {
    fieldset {
      label {
        border-radius: 0 7px 7px 0;
      }
      input {
        border-radius: 7px 0 0 7px;
      }
    }
  }
}

#password-policy-status {
  display: none;
}

.border-box {
  border: 1px solid #AFAFAF;
  border-radius: 20px;
}

.anonymous-illustation {
  //border-#{$left}: 1px solid #707070;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  &:before {
    content: '';
    width: 1px;
    height: 70%;
    display: block;
    position: absolute;
    #{$left}: 0px;
    background-color: #707070;
  }
  img {
    width: 350px;
    max-width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .anonymous-illustation {
    border: none;
  }
}

@media screen and (max-width: 390px) {
  #user-login-page .layout-main-wrapper #main .main-content{
    margin-left: 0 !important;
  }
}
