/* VARIABLES */

// colors
$primary-shade: rgb(255, 78, 46);
$red: #C5534D;
$yellow: #E6C44D;
$green: #33845D;
$green-light: #47906C;
$cyan: #5087A7;
$white: #fff;
$off-white:#f9f9f9;
$off-white-dark: #F5F5F5;
$white-gray: #EFEFEF;
$gray-50:#CBCBCB;
$gray-100: #9EA0A0;
$gray-150: #808080;
$gray-200:#6d6d6d;
$gray-300:#707070;
$gray-400: #575757;
$gray-800: #555559;
$gray-900:#3d3d3d;
$orange: #F09E4C;
$purple: #704C5E;
$accent-shade: #0079C0;

// colors used
$primary: $green;
$secondary: $gray-400;
$primary-light: $green-light;
$primary-dark: darken($primary-shade, 12%);
$accent-light: lighten($accent-shade, 37%);
$accent-dark: darken($accent-shade, 12%);
// Reassign color vars to semantic color scheme

$theme-colors: ( primary: $primary, secondary: $secondary, success: $green, info: $cyan, warning: $yellow, danger: $red, light: $gray-100, dark: $gray-800);
$brand-primary: $green;
$brand-success: $green;
//$brand-info: $teal;
$brand-warning: $orange;
//$brand-danger: $red;
$brand-inverse: $primary-shade;
// Body
//
// Settings for the `<body>` element.
$body-bg: $white;
$body-color: $gray-800;
$inverse-bg: $primary-shade;
$inverse-color: $white;
// Links
//
// Style anchor elements.
$link-color: $secondary;
$link-decoration: none;
$link-hover-color: $secondary;
$link-hover-decoration: underline;
// Comments
$comment-spacer-x: 1.25em;
$comment-spacer-y: 1.25em;
// Responsive font sizes
$enable-responsive-font-sizes: true;
$enable-shadows: false;
$enable-gradients: false;
// Breadcrumbs (Works only on Bootstrap 5+)
// $breadcrumb-divider: quote(">");
$table-cell-padding: 0.5em;

$theme-path: '/themes/custom/najm_portal_theme';